git+https://github.com/bitranox/lib_detect_encoding.git
git+https://github.com/bitranox/lib_list.git
git+https://github.com/bitranox/lib_log_utils.git
git+https://github.com/bitranox/lib_parameter.git
git+https://github.com/bitranox/lib_regexp.git
